* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../img/red.jpeg) no-repeat fixed;
    background-size: cover;
}

#header {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 200px;
}

.MyContainer {
    top: 50%;
    left: 50%;
    border-radius: 20px;
    background-color: #fff;
    width: 1250px;
    height: 800px;
    padding: 0px 50px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.MyContainer .part1 {
    width: 550px;
    height: 500px;
    padding: 10px 20px;
    float: left;
}

.MyContainer .part2 {
    width: 550px;
    height: 500px;
    padding: 10px 20px;
    float: right;
}

.MyContainer .btn {
    background-image: linear-gradient(to left, rgb(131, 0, 0), rgb(41, 0, 0));;
    color: rgb(255, 255, 255);
}

.MyContainer .btn:hover {
    transform: scale(1.01);
}

.MyContainer .btn:active {
    transform: scale(0.99);
}

.MyContainer .msg {
    text-align: center;
    line-height: 75px;
}

.MyContainer .msg a {
    text-decoration-line: none;
    color: #9d3564;
}